<%= link_to "Log Out", logout_path %>

<% if @facade.parking_legal == true %>
  <h1>YOU PARKED YOUR CHARIOT LEGALLY!</h1>
  <br />
  You are parked on the <%= @facade.parking_side %> side of
  <%= @facade.parking_street %> between
  <%= @facade.parking_start %> and
  <%= @facade.parking_end %>.
<% else %>
  <h1>YOU CANNOT LEGALLY PARK HERE!</h1>
  <br />
  You are parked on the <%= @facade.parking_side %> side of
  <%= @facade.parking_street %> between
  <%= @facade.parking_start %> and
  <%= @facade.parking_end %>.
<% end %>
